<h1 class="title">Brown Kraft Cards</h1>

<div class="field">
  <label class="label">Order Date</label>
  <div class="select is-medium">
      <select>
        <option selected id="currDate"><script></script></option>
      </select>
  </div>
</div>

<div id="form-fields">
<div class="field">
    <label class="label">Product Category</label>
    <div class="select is-medium">
        <select>
          <option value="" disabled selected>Select Product Category</option>
          <option value="70">Business Cards</option> 
          <option value="bkc-gc80">Greeting Cards</option>
          <option value="bkc-m70">Menu</option>
          <option value="bkc-pc100">Postcards</option>
          <option value="bkc-ss100">Sell Sheets</option>
          <option value="bkc-tc100">Trading Cards</option>
        </select>
    </div>
</div>

<!-- <div class="field">
    <label class="label">Size</label>
    <div class="select is-medium">
        <select>
          <option>Select Size</option>
          <option>1.75" x 3.5"</option>
          <option>2" x 2"</option>
          <option>2" x 3"</option>
          <option>2" x 3.5"</option>
          <option>2" x 4"</option>
          <option>2.125" x 3.375"</option>
          <option>2.5" x 2.5"</option>
        </select>
    </div>
</div>

<div class="field">
    <label class="label">Stock</label>
    <div class="select is-medium">
        <select>
          <option selected>18PT Uncoated Kraft</option>
        </select>
    </div>
</div>

<div class="field">
    <label class="label">Colorspec</label>
    <div class="select is-medium">
        <select>
          <option>Select Colorspec</option>
          <option>4/0 (4 color front)</option>
          <option>4/1</option>
          <option>4/4 (4 color both sides)</option>
          <option>4/0 with White Mask</option>
          <option>4/1 with White Mask on Front</option>
          <option>4/4 with White Mask on Front</option>
          <option>4/4 with White Mask on Back</option>
          <option>4/4 with White Mask Both Sides</option>
    
        </select>
    </div>
</div>

<div class="field">
    <label class="label">Runsize</label>
    <div class="select is-medium">
        <select>
          <option>Select Runsize</option>
          <option>100</option>
          <option>200</option>
          <option>500</option>
          <option>1000</option>
    
        </select>
    </div>
</div> -->
  
  </div><br>



  <div class="field sample-date hide">
    <hr>
    <label class="label">Sample Date</label>
    <input type="date" id="sampleDate" name="sample-date"
    value=""
    min="">
  </div>

  <div class="field notes hide">
    <label class="label">Notes</label>
    <div class="control">
      <textarea class="textarea is-medium" placeholder="Medium textarea"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" id="back-button" onclick="prev()" style="display: none;">Previous</button>
    </div>
    <div class="control">
      <button class="button is-link is-light" onclick="next()">Next</button>
    </div>
  </div>